<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>p5.js example</title>
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/p5.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.7.2/addons/p5.dom.min.js"></script>
</head>

<body>
  <script>
    function setup() {
      // put setup code here
    }

    function draw() {
      // put drawing code here
    }
  </script>
</body>

</html>